<div class="container">
  <div class="mb-4">
    <h1>Your past orders</h1>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let order of orderList">
      <div class="card py-2">
        <div class="card-body">
          <h5 class="card-title mb-2">
            Order date: {{ order.created | date }}
          </h5>
          <h5 class="card-title mb-2">Total amount: {{ order.amount }}</h5>
          <h5>Order detail:</h5>
          <div class="mx-4">
            <h6 *ngFor="let pizza of order.pizzas">
              {{ pizza.name }} - {{ pizza.quantity }}
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
